/* 
    Document   : table_style
    Created on : Jun 7, 2011, 3:03:04 PM
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #E1E1E1;
	margin:10px 10px 15px;
	font-size: 8pt;
	width: 80%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #FFF;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url( "../images/bg.gif" );
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.even td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url( "../images/asc.gif" );
}
table.tablesorter thead tr .headerSortDown {
	background-image: url( "../images/desc.gif" );
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
   background-image: url( "../images/stripe_back.png" );
   background-repeat: repeat;
}

